@import './../../styles/vars.scss';

.section-registration-form {
  &__email {
    margin-bottom: 15px;

    input {
      padding: 15px 260px 15px 20px;
      border-radius: 4px;
      border: 1px solid #babdcc;
    }
  }

  &__password-wrapp {
    position: relative;

    .section__password-wrapp-eye {
      position: absolute;
      width: 24px;
      height: 24px;
      top: 24%;
      right: 20px;
      cursor: pointer;
    }
  }

  &__password {
    position: relative;
    margin-bottom: 15px;

    input {
      padding: 15px 260px 15px 20px;
      border-radius: 4px;
      border: 1px solid #babdcc;
    }

    p {
      margin-bottom: 15px;
    }
  }

  &__password input:focus,
  &__email input:focus {
    outline: none;
    border: 1px solid #004de5;
  }

  .error {
    color: $error;
  }
}



