@import './vars.scss';

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 16px;
}

.container {
  max-width: 1230px;
  padding: 0px 15px;
  margin: 0px auto;
}

.hidden {
  display: none;
}

.btn--home {
  color: $white;
  background-color: $blueLight;
  padding: 15px 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease-in;

  &:hover {
    background-color: $blueDark;
  }
}
