@import './../../styles/vars.scss';

.section-registration {
  padding-top: 20px;
  padding-bottom: 40px;

  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &__content {
    max-width: 450px;
  }

  &__title {
    font-size: 24px;
    margin-bottom: 18px;
  }

  &__text {
    margin-bottom: 20px;
    color: #696c80;
  }

  &__footer {
    text-align: center;
    a {
      color: $blueLight;
      cursor: pointer;
    }
  }
}

