.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
  border-bottom: 1px solid #D8DAE5;
}

.to-come ul {
  display: flex;
  gap: 0px 20px;
}