.header {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    border-bottom: 1px solid #d8dae5;
  }

  .to-come ul {
    display: flex;
    gap: 0px 20px;
  }
}
